.tag-container {
    display: flex;
    justify-content: space-between;
    /* font-size: 30px; */
    padding: 10px;
    margin-bottom: 20px;

    /* border: 1px solid blue; */
}

.tag__left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.tag__view-all {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    /* height: 30px; */
    padding: 10px;
    margin-top: 30px;

    border-radius: 15px;
    background-color: rgb(0, 191, 155);
    
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.tag__view-all i {
    margin-left: 10px;
}

.tag__view-all:hover {
    background-color: rgb(0, 182, 149);
}

.tag__label {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.tagged-restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 600px;
}

.tagged-restaurants__top {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.tagged-restaurants__bottom {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 175px;
}

.tagged-restaurant__top {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    
    font-family: 'Open Sans', sans-serif;
    
    padding: 10px;
}

.tagged-restaurant__bottom {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    
    font-family: 'Open Sans', sans-serif;
    
    padding: 10px;
}


.tagged-restaurant__name {
    font-size: 16px;
    margin-top: 5px;
}

.tagged-restaurant__description {
    font-size: 12px;
    font-style: italic;

    width: 100%;
    /* height: 10px; */

    /* width: 200px;
    height: 40px; */
    /* white-space: nowrap; */
    /* overflow: ; */
    /* text-overflow: ellipsis; */
}


.tagged-restaurant__top img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.tagged-restaurant__top img:hover {
    box-shadow: 0px 0px 10px 4px rgb(220, 220, 220);
}

.tagged-restaurant__bottom img {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.tagged-restaurant__bottom img:hover {
    box-shadow: 0px 0px 20px 5px rgb(220, 220, 220);
}