#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    /* bottom: 0px;
    left: 0px;
    right: 0px; */
    /* bottom: 0px; */
    margin-top: 50px;
    width: 100%;

    /* padding: 10px; */
    border-top: 1px solid rgb(203, 203, 203);
}

#footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer img {
    width: 40px;
}

#footer-about {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
}

#creator-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;

    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

#creator-info-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#creator-info-links i {
    color: rgb(0, 191, 155);

    font-size: 30px;
    margin: 5px 10px 0px 10px;
}

#creator-info-links i:hover {
    color: rgb(0, 169, 138);
}


#disclaimer {
    width: 600px;
    padding: 10px;
    font-size: 8px;

    font-family: "Open Sans", sans-serif;
    text-align: center;

    /* border: 1px solid blue; */
}