/* TODO Add site wide styles */
.main-body {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    width: 1000px;

    min-height: 600px;

    border-radius: 10px;
    /* border: 1px solid red; */
}

@media screen and (max-width: 1000px) {
    .main-body {
        width: 100%;
    }

    .tagged-restaurant__description {
        display: none;
    }
}