.checkout-body {
    display: flex;

    margin-top: 45px;

    min-height: 600px;

    border: 1px solid red;
}

.checkout-main {
    display: flex;
    flex-direction: column;

    width: 1000px;
    border: 1px solid green;
}

.checkout-right {
    width: 300px;

    border: 1px solid blue;
}