.checkout-body {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;

    min-height: 600px;
}

.checkout-main__container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    width: 100%;
}

.checkout-main {
    display: flex;
    flex-direction: column;

    margin-top: 30px;

    width: 650px;
}

/* .checkout-heading {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
} */

.checkout-row {
    display: flex;
    justify-content: space-between;

    min-height: 80px;

    border-bottom: 1px solid rgb(203, 203, 203);
    /* border: 1px solid green; */
}

.checkout-row__label {
    width: 200px;

    margin-top: 20px;
    
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    /* border: 1px solid red; */
}

.checkout-row__main {
    width: 100%;
    /* border: 1px solid blue; */
}

.checkout-right {
    border-left: 1px solid rgb(203, 203, 203);
    width: 400px;

    padding: 10px;
}