.intro {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 45px;

    font-family: 'Montserrat', sans-serif;
}

#intro-top {
    display: flex;
}

#intro-top img {
    margin: auto;
    width: 40%;
    height: 40%;
}

#intro-info {
    display: flex;
    flex-direction: column;

    margin: 50px 0px 50px 50px;

    width: 50%;
}

.intro__banner-text {
    font-size: 60px;
    letter-spacing: 5px;
}

.intro__caption {
    margin-top: 30px;
    font-size: 20px;
}

.intro__description {
    font-size: 16px;
    margin-top: 50px;

    line-height: 50px;
}

#description-courier {
    color: rgb(0, 191, 156);
}


.intro__hero-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.homepage-link {
    margin-top: 50px;
    font-size: 30px;
}

.homepage-link a {
    text-decoration: none;
    color: rgb(0, 191, 156);   
}

.homepage-link i {
    margin-left: 10px;
}



#intro-creator {
    border-top: 1px solid rgb(203, 203, 203);
}

#intro-creator__info {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 50px;
}

#intro-creator__info-heading {
    font-size: 60px;
    letter-spacing: 5px;
}

#intro-creator__info-text {
    margin-top: 30px;
    font-size: 16px;
}