#sidebar-menu {
    position: fixed;
    flex-direction: column;
    display: flex;
    top: 0px;
    left: 0px;

    padding: 10px;
    border: 1px solid rgb(203, 203, 203);
    background-color: white;
}

#sidebar-menu-button {
    border: none;
    background-color: transparent;
    font-size: 19px;
    font-weight: bold;
    margin-left: 10px;
    
    cursor: pointer;
}

#close-sidebar-menu {
    cursor: pointer;
}

.sidebar-menu-option {
    display: flex;

    padding: 10px;

    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: rgb(0, 191, 155);

    cursor: pointer;
}

.sidebar-menu-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    width: 300px;
}