#sidebar-menu {
    position: fixed;
    flex-direction: column;
    display: flex;
    top: 0px;
    left: 0px;

    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.sidebar-menu-option {
    padding: 10px;
    /* border: 1px solid red; */
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;

}

.sidebar-menu-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    width: 300px;
}