.popular-container {
    display: flex;
    justify-content: space-between;
    /* font-size: 30px; */
    padding: 10px;

    /* border: 1px solid blue; */
}

.popular__left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.popular__view-all {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    /* height: 30px; */
    padding: 10px;
    margin-top: 30px;

    border-radius: 10px;
    background-color: rgb(0, 191, 155);
    color: white;
}

.popular__view-all i {
    margin-left: 10px;
}

.popular__label {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.popular__restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 600px;
    /* padding: 10px; */
    /* margin-left: 30px; */
    /* border: 1px solid blue; */
}

.popular__restaurant {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    
    max-width: 250px;

    font-family: 'Open Sans', sans-serif;

    padding: 10px;
    /* border: 1px solid black; */
    /* max-height: 300px; */
    /* font-family: 'Montserrat', sans-serif; */
}

.popular__name {
    font-size: 14px;
}

.popular__address {
    font-size: 12px;
    font-style: italic;
}


.popular__restaurant img {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}