.restaurant {
    font-family: 'Open Sans', sans-serif;
}

.restaurant-banner {
    max-height: 300px;
    padding: 10px;
    border-radius: 30px;
    object-fit: cover;
}

.restaurant__name {
    font-size: 30px;
    padding: 10px;
}
.restaurant__address {
    padding: 10px;
    font-style: italic;
}
.restaurant__description {
    padding: 10px;
}

.restaurant__menu {
    padding: 10px;
}

.restaurant__menu-name {
    font-size: 20px;
}

.restaurant__menu-items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.restaurant__menu-item {
    display: flex;
    justify-content: space-between;

    width: 440px;

    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
}

.restaurant__menu-item:hover {
    border: 1px solid rgb(167, 166, 166);
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant__menu-item img {
    width: 30%;
}

.item__name {
    font-size: 18px;
    font-weight: 500;
}

.item__description {
    font-size: 12px;
}

.item__price {
    font-size: 14px;
}

.item-info button {
    border: 1px solid rgb(203, 203, 203);
    width: 25px;
    height: 25px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.item-info button:hover {
    border: 1px solid rgb(167, 166, 166);
}