.restaurant {
    font-family: 'Open Sans', sans-serif;
}

.restaurant-banner {
    max-height: 300px;
    padding: 10px;
    border-radius: 30px;
    object-fit: cover;
}

.restaurant__name {
    font-size: 30px;
    padding: 10px;
}
.restaurant__address {
    padding: 10px;
    font-style: italic;
}
.restaurant__description {
    padding: 10px;
}

.restaurant__menu {
    padding: 10px;
}

.restaurant__menu-name {
    font-size: 20px;
}

.restaurant__menu-items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.restaurant__menu-item {
    padding: 10px;
    border: 1px solid rgb(0, 191, 155);
    border-radius: 10px;
    margin: 10px;
}

.item__name {
    font-size: 18px;
    font-weight: 500;
}

.item__description {
    font-size: 15px;
}