.restaurant-banner {
    max-height: 300px;
    padding: 10px;
    border-radius: 30px;
}

.restaurant__name {
    font-size: 30px;
    padding: 10px;
}
.restaurant__address {
    padding: 10px;
}
.restaurant__description {
    padding: 10px;
}

.restaurant__menu {
    padding: 10px;
}

.restaurant__menu-item {
    padding: 10px;
}